---
---

@import "{{ site.theme }}";

.social-icons {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.social-icons a img {
  width: 28px;
  height: 28px;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover img {
  filter: none;
  transform: scale(1.1);
}
